*{
  font-family: "Roboto", sans-serif;
}

/* home page */
.image_style {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 100px;
  grid-gap: 20px;
}
.card {
  /* width: 200px; */
}
.card img {
}

/* manage item */
.all_item-align{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  line-height: 30px;
}
.manageitem_align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 4px grey;
  padding: 10px;
}

/* home */
.vehicle_collection {
  text-align: center;
}
/* .every_vehicle_collection {
  margin: 10px 100px;
} */
.every_vehicle_collection img {
  width: 100%;
  height: 140px;
}

/* inventory */
.first_part {
  width: 50%;
}
.second_part {
  width: 50%;
}
.second_part img {
  height: auto;
  width: 100%;
}

/* myitem */

.my_own_style{
  padding: 0px 100px;
}

/* error page */

.error_page {
  height: 100vh;
  background-color: rgb(50 50 50);

}
.error_page h1{
  color: #fff;
  text-align: center;
  padding-top: 50px;
  font-size: 70px;
  font-weight: 700;
}
.error_page p{
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
}
.error_img{
  text-align: center;
}
.error_img img{

  width: 250px;
}
/* /responsive */

@media only screen and (max-width: 600px) {
  .every_vehicle_collection {
    display: none;
  }
  .image_style,
  .products {
    margin: 0px 10px;
    display: flex !important;
    flex-wrap: wrap;
  }
  .card {
  }
  .products {
  }
  .myForm_style {
    margin: 0px 10px;
  }
  .inventory_style{
    flex-direction: column;
  }
  .second_part{

  width: 90%;
  }
  .first_part{

  width: 90%;
  }
  .inv_btn_style{

  }
  .my_own_style{
    padding: 0;
  }
}
